@import 'bootstrap/dist/css/bootstrap.min.css';

@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0 20px;
  background: url('./images/bg-image-desktop.jpg');
  background-size: cover;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  position: absolute;
  display: block;
  margin-top: 5vh;
  margin-bottom: 5vh;
  left: 15vw;
  backdrop-filter: blur(5px);
  max-width: 70vw;
  padding: 5vh 20vw;
  min-height: 90vh;
}
/* main page */
h1 {
  margin-top: 15vh;
  margin-bottom: 35vh;
  text-align: center;
}

/* Navigation */
header {
  color: aliceblue;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 50px;
  font-size: 25px;
  position: relative;
  left: -8vw;
}

.LoginRegisterBar {
  position: absolute;
  right: -15vw;
}
.StyleLink {
  color: aliceblue;
  margin-right: 20px;
  text-decoration: none;
}
/* userMenu */
.userMenuHeader {
  position: absolute;
  right: -23vw;
  /* top: 1vh; */
  text-align: right;
}

/* Addcontact btn */
.addContactBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* delete contact btn */
.deleteBtn {
  margin-right: 5px;
}

/* bootstrap form */
.form-control,
.list-group-item,
.form-control:focus {
  color: aliceblue;
  background: cadetblue;
  max-width: 30vw;
}

.form-control::placeholder {
  color: aliceblue;
}
.form-text {
  color: aliceblue !important;
}

/* footer */
footer {
  margin-top: 80px;
  position: absolute;
  bottom: 15px;
  left: 28vw;
}
